* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    /* padding: 1px; */
    /* overflow: hidden; */
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -0.7rem;
    margin-right: -0.7rem;
}

/* .clear {
    clear: both;
} */

.item {
    padding: 1rem;
    background-color: #ddd;
    border: 1px solid #ccc;
    /* float: right; */
    /* display: inline-block; */
    text-align: center;
    flex: 1;
    margin: 0.7rem;
}

/* Block/ inline / inline block-> set width height  */

/* Flex: IE suport 

    float, display: inline, position...  oveflow 
*/

.item:first-child {
    flex: 2;
}


@media only screen and (min-width: 1200px) {
    .item:first-child {
        background: red;
    }
}

/* may tinh cỡ nhỏ  */
@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .row {
        flex-direction: column;
    }

    .item {
        flex: 1;
    }

    .item:first-child {
        flex: 1;
    }
}

@media only screen and (max-width: 767px) {

    /* ldakdlkadakl */
}